@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header img {
    text-align: center;
    transition: all 0.5s;
}

header img:hover {
    transform: scale(1.1);
}

nav {
    width: 100%;
    min-height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav a {
    height: 40px;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    border: 2px solid #d5af6c;
    border-radius: 10px;
    font-size: 20px;
    color: #d5af6c;
    box-shadow: -5px 5px 10px #09859c;
    background-color: #00465f;
    transition: all 0.5s;
}

nav a:hover {
    transform: scale(1.1);
    color: #00465f;
    background-color: #d5af6c;
}

.active {
    background-color: #3ab5ba;
    color: #000;
    border: 2px solid #00465f;
}

main h1 {
    width: 100vw;
    color: #000;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    text-align: center;
}

main {
    background-color: #cebb8c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    background-image: url(../img/contact.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
}

form {
    box-shadow: -5px 5px 10px #09859c;
    margin: 20px;
    width: 250px;
    border: 2px solid #00465f;
    background-color: #cebb8c70;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.2rem;
}

fieldset {
    padding: 0.5rem;
    border: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

legend {
    text-align: center;
}

label {
    font-family: 'Russo One', sans-serif; 
    color: #00465f;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.5rem;
    border: 1px solid #00465f;
    border-radius: 5px;
    resize: none;
}

input[type="submit"] {
    background-color: #00465f;
    color: #d5af6c;
    font-family: 'Russo One', sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #09859c;
    color: #00465f;
}

footer {
    height: auto;
    background-color: #00465f;
    text-align: center;
    padding: 10px;
}

footer i {
    font-size: 30px;
    color: #3ab5ba;
    margin-right: 10px;
    transition: 0.2s;
}

footer i:hover {
    text-shadow: 0px 0px 5px #d5af6c;
}